.product-card {
  display: block;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  .product-thumbnail {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    padding: rem(15px) rem(15px) rem(20px) rem(15px);
    overflow: hidden;
    img {
      transition: transform .2s ease-in-out;
    }
  }

  .product-information {
    background-color: #f5f5f5;
    padding: rem(13px);
  }

  .product-name {
    text-transform: uppercase;
    font-size: rem(20px);
    color: #000;
    line-height: 1;
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: $red;
    }
  }

  .product-code {
    font-size: rem(12px);
    color: #a3a3a3;
  }

  .product-price {
    font-size: rem(20px);
    color: #000000;
    line-height: 1;
    margin-bottom: 3px;
  }

  .product-old-price {
    font-size: rem(15px);
    text-decoration: line-through;
    color: #000000;
    & + .product-price {
      color: $red;
      padding-top: rem(3px);
    }
  }

  .buy-click {
    color: $red;
    font-size: rem(12px);
    text-align: right;
    display: block;
    width: 100%;
    margin-bottom: rem(3px);
  }

  .add-to-cart {
    max-width: 85px;
    width: 100%;
  }

  .add-to-wishlist {
    font-size: rem(17px);
    margin-right: rem(10px);
  }

  .star-rate {
    margin: rem(6px) 0;
    i {
      font-size: rem(12px);
    }
  }

  .rate {
    .rate-count {
      font-size: 12px;
    }
  }

  .label-product {
    color: #ffffff;
    font-weight: 700;
    width: 41px;
    height: 29px;
    font-size: rem(11px);
    position: absolute;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    &.sale {
      top: 15px;
      left: 12px;
      background-color: $orange;
    }
    &.top {
      top: 15px;
      right: 12px;
      background-color: $red;
    }
    &.new {
      top: 15px;
      right: 12px;
      background-color: #0e0e0e;
    }

    &.new + .top {
      top: 45px;
    }
  }

  &:hover {
    .product-thumbnail {
      img {
        transform: scale(1.05);
      }
    }
  }

}

.catalog {
  .product-card {
    margin-bottom: 30px;
  }
}

.rate {
  display: flex;
  align-items: center;
  .rate-count {
    margin-left: rem(5px);
    color: $orange;
  }
}

.star-rate {
  display: flex;
  align-items: center;
  i {
    color: $orange;
    &+ i {
      margin-left: rem(2px);
    }
  }
}

.add-to-wishlist {
  color: #0e0e0e;
  .fas {
    color: $red;
  }
  &:hover {
    color: $red;
  }
}

.brand-list {
  .brand-item {
    max-width: 370px;
    margin: 0 auto 30px auto;
  }
  .title {
    &:hover {
      color: #0e0e0e;
    }
  }
  .brand-image {
    width: 100%;
    height: 150px;
    margin-top: 8px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .brand-short-text {
    margin: 10px 0;
  }
}

@media (max-width: 767px) {

  .product-card {

    .product-thumbnail img {
      max-width: 210px;
    }
    .star-rate {
      i {
        font-size: 0.65rem;
      }
    }

    .product-name {
      font-size: rem(15px);
    }

    .product-price,
    .product-old-price {
      font-size: 0.875rem;
    }

  }

}

@media (max-width: 576px) {

  .product-card {

    .rate {
      justify-content: center;
    }
    .product-code,
    .product-name {
      text-align: center;
    }
    .product-action {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
      & > div:first-child {
        margin-right: rem(20px);
      }
    }
  }

}