.section-category {
  .base-indent {
    margin-bottom: 63px;
  }
  .category-carousel {
    .owl-stage {
      display: flex;
    }
    .owl-item {
      &+.owl-item {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          height: 100%;
          width: 1px;
          background-color: #e0eae9;
        }
      }
    }
  }
  .category-item {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    .four-title {
      font-weight: 400;
      margin-bottom: 18px;
    }
    &:hover {
      .four-title {
        color: $cyan;
      }
    }
  }
}

.section-about {
  .dynamic-content {
    .alignleft,
    .alignright {
      margin-top: 0;
    }
  }
}

.section-new {
  margin-top: 2.5rem;
}

.section-brand {
  margin-top: 2rem;
  .item {
    text-align: center;
    img {
      width: 200px;
      height: 50px;
    }
  }
  .owl-theme .owl-dots {
    background-color: transparent;
    margin-top: 1.5rem;
  }
  .owl-stage-outer {
    width: calc(100% - 100px);
    margin: 0 auto;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 19px;
    height: 19px;
    background-color: #ececec;
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #c7c7c7;
  }
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 14px;
    right: 0;
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: 0;
    right: auto;
  }
}

.section-popular {
  margin-top: 2rem;
  .owl-category {
    .title {
      margin: rem(15px) 0;
    }
    .item {
      transition: border .2s ease-in-out;
      border-bottom: 8px solid transparent;
      &:hover {
        border-bottom: 8px solid $red;
      }
    }
  }
}

.section-last-category {
  margin-top: 2.5rem;
}

.section-shop-info {
  margin: 2rem 0;
  .box-info {
    padding: 2rem;
  }
  .last-article {
    .row {
      margin: 0;
    }
    article {
      padding: 1rem 0.4rem;
      background-color: #fff;
      .article-header {
        img {
          height: 150px;
          object-fit: cover;
        }
      }
      .article-body {
        margin-top: 0.5rem;
        .title {
          line-height: 1.1;
          display: -webkit-box;
          max-height: 36px;
          min-height: 36px;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          -webkit-line-clamp: 2;
        }
      }
    }
    .button {
      font-size: 13px;
      font-weight: 400;
    }
    .small-size {
      margin: 0.7rem 0;
      display: -webkit-box;
      max-height: 105px;
      min-height: 105px;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 5;
    }
    .box-info {
      padding: 1rem 0;
    }
  }
}

@media (max-width: 1200px) {
  .section-shop-info .last-article {
    margin-top: 1.5rem;
  }
}

@media (max-width: 768px) {
  .section-shop-info .last-article article {
    //padding-left: 0;
    //padding-right: 0;
    margin-bottom: 20px;
  }
  .section-shop-info .last-article .small-size {
    min-height: auto;
    max-height: 100%;
  }

}